/* App.css */

.station{
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: .75em;
  padding-right: .75em;
  margin-bottom: .5em;
  border: 1px solid black;
  border-radius: 1em;
}
.railWrapper{
  display: inline-block;
  text-align: center;
  position: relative;
}
.rail{
  display: inline-block;
  padding: -.25em;
  padding-left: 1em;
  padding-right: 1em;
  border-top: 2px dashed #222;
  border-bottom: 2px dashed #222;
}
.railChiho{
  border-color: #22f;
  background-color: rgb(140, 238, 255);
}
.comment{
  position: absolute;
  left: 0;
  right: 0;
}
.routePreview{
  min-height: 2.5em;
  min-width: 1px;
}
#textBox{
  width: 50em;
  font-size: 1.5em;
}
.completion li {
  display: inline-block;
  margin: 0 .3em .3em 0;
  max-width: 100px;
  height: 28px;
  line-height: 28px;
  padding: 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}